< class="container-fluid">
< class="row">
<div class="col-md-2">
    <!--Sidebar content-->

    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
    </select>
    <br>

    <div ng-repeat="item in categories">
        <input type="radio" name ="category" ng-model="$parent.category" ng-value="item"> {{item}}
    </div>
    {{category}}
</div>

<div class="col-md-10">
    <!--Body content-->

    <ul class="phones">
        <li ng-repeat="person in peoples "
            class="thumbnail phone-listing">
            <p>{{person.name}}</p>
        </li>
    </ul>

    <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
            <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>

            <p>{{phone.snippet}}</p>
        </li>
    </ul>

</div>
</div>
</div>
